/* FONTS */
@import url(https://db.onlinewebfonts.com/c/0df48aa97e8bc658253c8d1c6ee63799?family=Neusa-Bold); 
@import url(https://db.onlinewebfonts.com/c/c1becb8665499a788c69e60d6b113a73?family=Neusa+W00+SemiBold);
@import url(https://db.onlinewebfonts.com/c/370f6c95a7b197f48e91028e503ad330?family=Neusa+Next+Std+Trial+Wide+Medium); 

@font-face {
  font-family: 'Brutalista';
  src: url('../assets/fonts/project2/Brutalista-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Scroll Padding */
html {
  scroll-padding-top: 80px;
}

/* NAVBAR STYLES */
.navbar {
  background-color: #fafafa;
}

.navbar-logo {
  font-family: Neusa-Bold;
  font-size: 1.25rem;
  color: #006e41;
}

.nav-link, .nav-link.dropdown-toggle {
  font-family: Neusa W00 SemiBold;
  font-size: 1.25rem;
  color: #006E41;
}

.dropdown-item {
  font-family: Neusa Next Std Trial Wide Medium;
  font-size: 1rem;
  color: #006E41;
}

.navbar-logo:hover, .nav-link:hover, .nav-link:active, .nav-link.dropdown-toggle.show {
  color: #009959;
}

.dropdown-item:hover {
  background-color: #006E41;
  color: #ffffff;
}

.navbar-toggler {
  border: none;
  padding: 0px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23006E41' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* CARD STYLE */
.card:hover {
    background-color:#f3f3f3
}

/* HEADING STYLES */
.main-heading {
  font-family: Neusa-Bold;
  font-size: 3rem;
  color: #006E41
}

.green-heading {
  font-family: Neusa-Bold;
  font-size: 2.5rem;
  color: #006E41
}

.white-heading {
  font-family: Neusa-Bold;
  font-size: 2.5rem;
  color: #FFFFFF;
}

.green-heading-2 {
  font-family: Neusa-Bold;
  font-size: 2rem;
  color: #006E41
}

.white-heading-2 {
  font-family: Neusa-Bold;
  font-size: 2rem;
  color: #FFFFFF;
}

.green-heading-3 {
  font-family: Neusa-Bold;
  font-size: 1.5rem;
  color: #006E41
}

.white-heading-3 {
  font-family: Neusa-Bold;
  font-size: 1.5rem;
  color: #FFFFFF;
}

/* PARAGRAPH STYLES */
.black-paragraph {
  font-family: Brutalista;
  font-size: 1rem;
}

.white-paragraph {
  font-family: Brutalista;
  font-size: 1rem;
  color: #FFFFFF;
}

/* BUTTON STYLES */
.white-button {
  font-family: Neusa-Bold;
  font-size: 1.5rem;
  background-color: #FFFFFF;
  color: #006E41;
  border: 1px solid #006E41;
  border-radius: 3px;
}

.white-button:hover {
  background-color: #006E41;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.white-button-2 {
  font-family: Neusa-Bold;
  font-size: 1.25rem;
  background-color: #FFFFFF;
  color: #006E41;
  border: 1px solid #006E41;
  border-radius: 3px;
}

.white-button-2:hover {
  background-color: #006E41;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

/* FOOTER STYLES */
.white-footer {
  font-family: Brutalista;
  font-size: 12px;
  color:#FFFFFF;
}

.green-footer {
  font-family: Brutalista;
  font-size: 12px;
  color:#0e0e0e;
}

.green-footer a {
  color:#0e0e0e;
}

footer a {
  color: white;
}

footer a:hover {
  color: #cccccc;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  .navbar-logo, .nav-link, .nav-link.dropdown-toggle {
    font-size: 1rem;
  }
  .dropdown-item {
    font-size: 0.875rem;
  }
  .main-heading {
    font-size: 2.5rem;
  }
  .green-heading, .white-heading {
    font-size: 2rem;
  }
  .green-heading-2, .white-heading-2 {
    font-size: 1.75rem;
  }
  .green-heading-3, .white-heading-3 {
    font-size: 1.25rem;
  }
  .black-paragraph, .white-paragraph {
    font-size: 0.875rem;
  }
  .white-button {
    font-size: 1.25rem;
  }
  .white-button-2 {
    font-size: 1rem;
  }
  .green-footer, .white-footer {
    font-size: 10px;
  }
}