@font-face {
  font-family: 'Zing Rust Base';
  src: url('https://najilabatistil.github.io/homepage/assets/fonts/Zing-Rust-Base.woff2') format('woff2'),
    url('https://najilabatistil.github.io//homepage/assets/fonts/Zing-Rust-Base.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mono45 Headline Regular';
  src: url('https://najilabatistil.github.io/homepage/assets/fonts/Mono45Headline-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.heading-404 {
  font-family: 'Zing Rust Base';
  font-size: 15.625rem;
  text-align: center;
  color: white;
  -webkit-text-stroke: 2px black; 
  text-shadow: 7px 10px 0px black;
}

.sub {
  font-family: 'Mono45 Headline Regular';
  font-size: 2.5rem;
  text-align: center;
}

@media (max-width: 790px) {
  .heading-404 {
    font-size: 10rem;
    text-shadow: 5px 8px 0px black;
  }
  
  .sub {
    font-size: 2rem;
  }
}
