
.heading {
  font-family: 'Zing Rust Base';
  font-size: 5.5rem;
  line-height: 0.85;
  color: white;
  -webkit-text-stroke: 3px black; 
  text-shadow: 2px 4px 0px black;
}

/* MEDIA QUERIES */
@media (max-width: 790px) {
  .heading {
    font-size: 5rem;
    line-height: 1;
    -webkit-text-stroke: 2px black; 
  }
}

@media (max-width: 560px) {
  .heading {
    font-size: 3rem;
    line-height: 1;
    -webkit-text-stroke: 1px black; 
    text-shadow: 1px 3px 0px black;
  }
}