@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

:root {
  --primaryColor: #F3EBCD;
  --primaryHoverColor: #E1D5A2;
  --secondaryColor: #F8E5C4;
  --backgroundColor: #FFFBF0;
}

body {
  background-color: var(--backgroundColor);
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

html {
  scroll-padding-top: 50px;
}


/* Button */
.btn {
  --bs-btn-bg: var(--primaryColor);
  --bs-btn-border-radius: 50px;
  --bs-btn-font-size: 1.15rem;
}

.btn-outline-primary {
  --bs-btn-color: black;
  --bs-btn-border-color: black;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: var(--primaryHoverColor);
  --bs-btn-hover-border-color: black;
  --bs-btn-active-bg: var(--primaryHoverColor);
  --bs-btn-active-border-color: black;
  --bs-btn-active-color: var(--primaryHoverColor);
  transition: all 0.3s ease;
}

.btn-outline-primary:hover {
  transform: scale(0.970);
}


/* Card */
.card {
  background-color: var(--secondaryColor);
  border: 2px solid black;
  border-radius: 15px;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease;
  position: relative;
  object-fit: cover;
}

.card.clickable {
  cursor: pointer;
}

.card-text-hover {
  color: black;
  background-color: #f4ecd7;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.6s ease;	
}

@media (pointer:fine) and (hover: hover) {
  .card:hover {
    transform: scale(1.010);
  }
  
  .card:hover img, .card:hover p {
    transform: scale(1.005);
  }
  
  .card:hover .card-text-hover {
    opacity: 0.9;
  }
  
}

/* Modal */
.modal {
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-body img {
  max-width: 100%;
  max-height: 75vh;
  width: auto;
  height: auto;
  object-fit: contain;
  position: relative;
}

.modal-body button{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
}