.main-container {
  height: 100vh;
  position: relative;
}

/* NAVBAR */
.navbar {
  background-color: transparent;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.navbar-items {
  font-family: 'Samsung Sharp Sans';
}

.dropdown-toggle {
  text-decoration: none;
  color: white;
  border: none !important;
}

.dropdown-menu {
  background-color: transparent;
  border: 1px solid white;
}

.dropdown-item {
  color: white;
}

/* VIDEO */
.video-container {
  height: 100%; 
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.video-heading {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-family: 'Samsung Sharp Sans Bold';
  text-align: center;
}

.video-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-family: 'Samsung Interface';
  transition: all 0.5s ease;
}

.video-button:hover, .video-button:active {
  background-color: white;
  color: black;
}

/* CONTENT */
h1 {
  font-family: 'Samsung Sharp Sans Bold';
}

p {
  font-family: 'Samsung Interface';
}

.more-btn {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-family: 'Samsung Interface';
  transition: all 0.5s ease;
}

.more-btn:hover, .more-btn:active {
  background-color: black;
  color: white;
}