@font-face {
  font-family: 'svthin';
  src: url('../../fonts/svthin.ttf') format('truetype');
}

@font-face {
  font-family: 'svbold';
  src: url('../../fonts/svbold.ttf') format('truetype');
}

.navbar {
  background-color: #00509A; 
}

.banner-container {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 80%, transparent 100%);
}

.btn-outline-secondary {
  font-family: svbold !important;
  font-size: 1rem;
  border-color: #FDF5E6 !important;
  color: #FDF5E6 !important;
}

.btn-outline-secondary:hover {
  background-color: #FDF5E6 !important;
  color: #00509A !important;
}

.card-body {
  background-color: #a25027;
}

/* THEME COLORS - BODY */

[bd-theme="light"] {
  background-color: #F8E28C;
  color: #49382B;
}

[bd-theme="dark"] {
  background-color: #18243c;
  color: #FDF5E6;
}

/* THEME COLOR - BUTTONS */

[btn-theme="dark"] {
  font-family: svbold;
  background-color: #FDF5E6 !important;
  color: #872C00 !important;
  border-color: #FDF5E6 !important;
}

[btn-theme="dark"]:hover {
  font-family: svbold;
  background-color: #F8E28C !important;
  color: #872C00 !important;
  border-color: #F8E28C !important;
}

/* THEME COLORS - CARDS */

[card-theme="light"] {
  background-color: #f2c165;
  color:#872C00;
  border: 2px solid #49382B;
}

[card-theme="light-hover"] {
  background-color: #e2aa42;
  color:#872C00;
  border: 2px solid #49382B;
}

[card-theme="dark"] {
  background-color: #872C00;
  color:#FDF5E6;
  border: 2px solid #49382B;
}

[card-theme="dark-hover"] {
  background-color: #872C00;
  color:#FDF5E6;
  border: 2px solid #49382B;
}

/* TEXT STYLES */

.title {
  font-family: svbold;
  font-size: 1.5rem;
}

p {
  font-family: svthin;
  font-size: 1.35rem;
}

.img-container {
  background-color: #ffffff;
}

/* FOOTER  */

footer {
  background-color: #a25027;
}

footer p {
  font-size: 1rem;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: #cccccc;
}